<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO List Detail</title>
</head>
<body>
  <main>
    <div>
      <h1>{{ todo_object.name }}</h1>
      <p>
        <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
      </p>
      <p>
      <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in todo_object.items.all %}
          <tr>
            <td>
              <a href="{% url 'todo_item_update' todo_item.id %}"></a>{{ item.task }} </td>
            <td> {{ item.due_date }} </td>
          </tr>
          {% endfor %}
        </tbody>
    </div>
  </main>
</body>
</html>
